ul.breadcrumb {
  padding: 8px 16px;
  list-style: none;
  background-color: ghostwhite;
}

ul.breadcrumb li {
	display: inline;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
	color: lightseagreen;
}

.breadcrumb {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}


.tip {
	background-color: #def6ed;
	border-radius: 4px
}


.container {
	text-align: middle;
    width: 400px;
	margin:0 auto;
	font-family: 'Roboto', sans-serif;
}


li.ingrediënten {
	margin-bottom: 10px;
	font-size: 20px;
}

li.bereidingswijze {
	margin-bottom: 20px;
	font-size: 20px;
}


.paragraaf1 {
	font-size: 24px;
	line-height: 36px;
}

h1 {
	font-size: 36px;
	line-height: 36px
}

p {
	font-size: 20px;
	line-height: 26px;
}

h2 {
	font-size: 32px;
	line-height: 32px;
}